// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phone {
  // border: 2px solid red;
  padding: 10px;
  //border-bottom-left-radius: 40%
  font-family: AppleSystemUIFont;
}

.password{
  padding: 10px;
}

.name{
  padding: 10px;
}

.gender{
  padding: 10px;
}

.sexuality{
  padding: 10px;
}

.birthday{
  padding: 10px;
}

.location{
  padding: 10px;
}

.education{
  padding: 10px;
}

.career{
  padding: 10px;
}

.height{
  padding: 10px;
}

.profile_photo{
  padding: 10px;
}



