<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <h1 class="title">Mulberry!</h1>
    </nav>
    <div class="container">
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
